# ***INICIO***

In [4]:
import pandas as pd
import numpy as np

In [5]:
data = pd.read_csv('top10s.csv', encoding='ISO-8859-1')

# ***FILTROS***

1) Listar solo los gÃ©neros

In [6]:
data['top genre']

0           neo mellow
1      detroit hip hop
2            dance pop
3            dance pop
4                  pop
            ...
598          dance pop
599                pop
600          dance pop
601          dance pop
602         electropop
Name: top genre, Length: 603, dtype: object

In [7]:
data.loc[:, ('top genre')].unique()

array(['neo mellow', 'detroit hip hop', 'dance pop', 'pop',
       'canadian pop', 'hip pop', 'barbadian pop', 'atl hip hop',
       'australian pop', 'indie pop', 'art pop', 'colombian pop',
       'big room', 'british soul', 'chicago rap', 'acoustic pop',
       'permanent wave', 'boy band', 'baroque pop', 'celtic rock',
       'electro', 'complextro', 'canadian hip hop', 'candy pop',
       'alaska indie', 'folk-pop', 'metropopolis', 'house',
       'australian hip hop', 'electropop', 'australian dance',
       'hollywood', 'canadian contemporary r&b',
       'irish singer-songwriter', 'tropical house', 'belgian edm',
       'french indie pop', 'hip hop', 'danish pop', 'latin',
       'canadian latin', 'electronic trap', 'edm', 'electro house',
       'downtempo', 'brostep', 'contemporary country', 'moroccan pop',
       'escape room', 'alternative r&b'], dtype=object)

2) Filtrar Canciones de Longitud mayor que el promedio

*Sacar el promedio con .mean() y luego filtrar las canciones mayores que el promedio.*

In [8]:
promedio = data.dur.mean()
promedio

224.67495854063017

In [9]:
filtro = data.dur > promedio
filtro

0      False
1       True
2      False
3       True
4      False
       ...
598    False
599    False
600     True
601    False
602    False
Name: dur, Length: 603, dtype: bool

In [10]:
data.loc[filtro]

     Unnamed: 0                                              title  ... spch pop
1             2                               Love The Way You Lie  ...   23  82
3             4                                        Bad Romance  ...    4  79
7             8                                            Secrets  ...    4  77
9            10                           Only Girl (In The World)  ...    4  73
10           11          Club Can't Handle Me (feat. David Guetta)  ...    3  73
..          ...                                                ...  ...  ...  ..
582         583                                        Higher Love  ...    3  88
589         590                        Giant (with Rag'n'Bone Man)  ...    4  84
592         593                     Girls Like You (feat. Cardi B)  ...    5  81
594         595                          No Guidance (feat. Drake)  ...   15  81
600         601  No Brainer (feat. Justin Bieber, Chance the Ra...  ...   34  70

[269 rows x 15 columns]

 Mostrar solo la canciÃ³n el artista y la duraciÃ³n de la canciÃ³n. *texto en cursiva*

In [11]:
data.loc[filtro, ('artist', 'dur')]

            artist  dur
1           Eminem  263
3        Lady Gaga  295
7      OneRepublic  225
9          Rihanna  235
10        Flo Rida  235
..             ...  ...
582           Kygo  228
589  Calvin Harris  229
592       Maroon 5  236
594    Chris Brown  261
600      DJ Khaled  260

[269 rows x 2 columns]

3) Listar los artistas que hicieron canciones en el 2019

*Mostrar solo la columna del artista y su canciÃ³n*

In [12]:
filtroanio = data.year==2019
filtroanio

0      False
1      False
2      False
3      False
4      False
       ...
598     True
599     True
600     True
601     True
602     True
Name: year, Length: 603, dtype: bool

In [13]:
data.loc[filtroanio, ('title', 'artist')]

                                                 title            artist
572                                           Memories          Maroon 5
573                                Lose You To Love Me      Selena Gomez
574                                  Someone You Loved     Lewis Capaldi
575                                           SeÃ±orita      Shawn Mendes
576                                  How Do You Sleep?         Sam Smith
577  South of the Border (feat. Camila Cabello & Ca...        Ed Sheeran
578                             Trampoline (with ZAYN)             SHAED
579                                            Happier        Marshmello
580                                        Truth Hurts             Lizzo
581         Good as Hell (feat. Ariana Grande) - Remix             Lizzo
582                                        Higher Love              Kygo
583                                         Only Human    Jonas Brothers
584                    Beautiful People (feat. Khalid)        Ed Sheeran
585                                             Sucker    Jonas Brothers
586                                   Don't Call Me Up             Mabel
587                  I Don't Care (with Justin Bieber)        Ed Sheeran
588                            Talk (feat. Disclosure)            Khalid
589                        Giant (with Rag'n'Bone Man)     Calvin Harris
590                                           Takeaway  The Chainsmokers
591                    All Around The World (La La La)             R3HAB
592                     Girls Like You (feat. Cardi B)          Maroon 5
593                                      Call You Mine  The Chainsmokers
594                          No Guidance (feat. Drake)       Chris Brown
595                     Antisocial (with Travis Scott)        Ed Sheeran
596    Taki Taki (feat. Selena Gomez, Ozuna & Cardi B)          DJ Snake
597                                  Con Calma - Remix      Daddy Yankee
598                Find U Again (feat. Camila Cabello)       Mark Ronson
599      Cross Me (feat. Chance the Rapper & PnB Rock)        Ed Sheeran
600  No Brainer (feat. Justin Bieber, Chance the Ra...         DJ Khaled
601    Nothing Breaks Like a Heart (feat. Miley Cyrus)       Mark Ronson
602                                   Kills You Slowly  The Chainsmokers

# ***ORDENAR***

1) top de canciones mÃ¡s ruidosas (dB)

In [14]:
ruidosas = data.sort_values(by="dB", ascending=False)
ruidosas

     Unnamed: 0                          title  ... spch pop
108         109       What Makes You Beautiful  ...    7  78
198         199                       Pom Poms  ...    9  52
116         117                      Starships  ...    8  73
498         499                       Rich Boy  ...    5  55
30           31                              3  ...    5  62
..          ...                            ...  ...  ...  ..
471         472                           Love  ...    3  72
241         242                      Partition  ...   29  65
436         437  Beautiful Birds (feat. Birdy)  ...    3  36
431         432                          Start  ...    4  47
442         443              Million Years Ago  ...    0   0

[603 rows x 15 columns]

2) top de canciones mÃ¡s largas

In [15]:
largas = data.sort_values(by="dur", ascending=False)
largas

     Unnamed: 0                                              title  ... spch pop
188         189                                                TKO  ...   24  58
422         423  Wish That You Were Here - From ÂMiss Peregrine...  ...    3  57
63           64                                            Monster  ...   20  73
162         163                             Lose Yourself to Dance  ...    6  72
194         195                                Take Back the Night  ...   16  54
..          ...                                                ...  ...  ...  ..
581         582         Good as Hell (feat. Ariana Grande) - Remix  ...    6  90
492         493          Reality (feat. Janieck Devy) - Radio Edit  ...    4  59
174         175                       I Love It (feat. Charli XCX)  ...    3  67
591         592                    All Around The World (La La La)  ...    3  82
330         331                                      Mark My Words  ...    3  63

[603 rows x 15 columns]

3) top de canciones mÃ¡s ruidosas y mÃ¡s largas.

In [82]:
ruidosasylargas = ruidosas.sort_values(by="dur", ascending=False)
ruidosasylargas

     Unnamed: 0                                              title  ... spch pop
188         189                                                TKO  ...   24  58
422         423  Wish That You Were Here - From ÂMiss Peregrine...  ...    3  57
63           64                                            Monster  ...   20  73
162         163                             Lose Yourself to Dance  ...    6  72
194         195                                Take Back the Night  ...   16  54
..          ...                                                ...  ...  ...  ..
334         335                               Reality - Radio Edit  ...    3  61
492         493          Reality (feat. Janieck Devy) - Radio Edit  ...    4  59
174         175                       I Love It (feat. Charli XCX)  ...    3  67
591         592                    All Around The World (La La La)  ...    3  82
330         331                                      Mark My Words  ...    3  63

[603 rows x 15 columns]

# ***AGRUPAR Y GRAFICAR***

1) generos con las canciones mÃ¡s largas de duraciÃ³n mÃ¡s largos  (agrupar por gÃ©nero y sacar mÃ¡ximo de canciÃ³n)

In [112]:
filtro_ayg_1 = data.loc[:, ('title', 'top genre', 'dur')]
agrupar_ayg_1 = filtro_ayg_1.groupby("top genre").max()  
agrupar_ayg_1.head(5)

                                                             title  dur
top genre
acoustic pop                                          Turning Page  255
alaska indie                                         Foolish Games  250
alternative r&b                            Talk (feat. Disclosure)  198
art pop          Wish That You Were Here - From ÂMiss Peregrine...  403
atl hip hop                                  OMG (feat. will.i.am)  329

In [ ]:
nuevo = agrupar_ayg_1.head(3)
genero = "top genre"
import matplotlib.pyplot as plt
fig = plt.figure()
ax = fig.add_axes([0,0,1,1])
ax.bar(nuevo.title, nuevo.dur)
plt.show()

2) AÃ±os con su promedio de bailable (agrupar por aÃ±o y sacar el promedio de dnce)

In [134]:
filtro_ayg_2 = data.loc[:, ('year', 'dnce')]
agrupar_ayg_2 = filtro_ayg_2.groupby("year").mean()  
agrupar_ayg_2

           dnce
year
2010  64.529412
2011  63.641509
2012  65.714286
2013  62.042254
2014  62.534483
2015  63.663158
2016  63.325000
2017  65.369231
2018  67.203125
2019  69.709677

3) aÃ±os con su promedio de ruido (dB)

In [108]:
filtro_ayg_3 = data.loc[:, ('year', 'dB')]
agrupar_ayg_3 = filtro_ayg_3.groupby("year").mean()  
agrupar_ayg_3

            dB
year
2010 -4.901961
2011 -5.018868
2012 -4.857143
2013 -5.140845
2014 -5.775862
2015 -5.621053
2016 -6.712500
2017 -5.615385
2018 -5.671875
2019 -5.774194

# ***HEAD / TAIL***

1) Sacar los 3 aÃ±os con mÃ¡s mÃºsica mÃ¡s ruidosa (promedio dB)

In [72]:
filtromasruidosa = data.loc[:,("year", "dB")]  
agruparaniomasruidosa = filtromasruidosa.groupby("year").mean()  
ordenarmasruidosa = agruparaniomasruidosa.sort_values(by="dB", ascending=False)
ordenarmasruidosa.head(3)

            dB
year
2012 -4.857143
2010 -4.901961
2011 -5.018868

2) Sacar los 3 aÃ±os con mÃ¡s mÃºsica mÃ¡s bailable (promedio dnce)

In [71]:
filtromasbailable = data.loc[:,("year", "dnce")]     # filtro para reportar solo el "year" y el "dnce"
agruparaniomasbailable = filtromasbailable.groupby("year").mean()   # agrupa los aÃ±os y saca el promedio de "dnce" por cada aÃ±o
ordenarmasbailable = agruparaniomasbailable.sort_values(by="dnce", ascending=False) # Ordnea por mas bailable
ordenarmasbailable.head(3) # Reportar los 3 aÃ±os mas bailables

           dnce
year
2019  69.709677
2018  67.203125
2012  65.714286

3) Sacar los 3 artistas con mÃºsica mÃ¡s bailable (promedio dnce)

In [73]:
filtromasbailable2 = data.loc[:,("artist", "dnce")]  
agruparaniomasbailable2 =filtromasbailable2.groupby("artist").mean()  
ordenarmasbailable2 = agruparaniomasbailable2.sort_values(by="artist", ascending=False)
ordenarmasbailable2.head(3)

                dnce
artist
will.i.am  80.000000
fun.       52.500000
Zedd       61.166667

4) Sacar los 3 artistas con mÃºsica mÃ¡s popular  (promedio popular)

In [76]:
filtromaspopular = data.loc[:,("artist", "pop")]  
agruparartistamaspop = filtromaspopular.groupby("artist").mean()  
ordenarmaspopular = agruparartistamaspop.sort_values(by="artist", ascending=False)
ordenarmaspopular.head(3)

                 pop
artist
will.i.am  68.000000
fun.       67.500000
Zedd       67.333333